@page "/my-frame"
@using MyWeb.Services
@layout EmptyLayout

<button @onclick="SendMessage">Send Message</button>

@code {

    class Model
    {
        public string Name { set; get; }
        public int Age { set; get; }
    }

    [Inject]
    public ScriptService JS { set; get; }

    private async Task SendMessage(MouseEventArgs args)
    {
        var model = new Model { Name = "wk", Age = 20 };
        await JS.WindowParentPostMessage(model);
    }
}